<div class="container reports">
  <ul>
    <h3>Desarrollo</h3>
    <li>Especialistas: <b>{{ desarrollo.specialists }}</b></li>
    <li>Tickets por realizar: <b>{{ desarrollo.tickets }}</b></li>
    <li>Factor de Carga: <b>{{ desarrollo.factor }}</b></li>
  </ul>
  <ul>
    <h3>Comunicaciones</h3>
    <li>Especialistas: <b>{{ comunicaciones.specialists }}</b></li>
    <li>Tickets por realizar: <b>{{ comunicaciones.tickets }}</b></li>
    <li>Factor de Carga: <b>{{ comunicaciones.factor }}</b></li>
  </ul>
  <ul>
    <h3>Soporte</h3>
    <li>Especialistas: <b>{{ soporte.specialists }}</b></li>
    <li>Tickets por realizar: <b>{{ soporte.tickets }}</b></li>
    <li>Factor de Carga: <b>{{ soporte.factor }}</b></li>
  </ul>
</div>