<div class="tickets">
  {{#if tickets }}
  <ul class="tickets__list">
    {{#each tickets }}
    <li onclick="showDetail(this)" data-id="{{ this._id }}">
      <h1>{{ this.title }}</h1>
      <small>ID: {{ this._id }}</small>
      {{#switch this.status}}
        {{#case '0'}}<span class="">Sin asignar</span>{{/case}}
        {{#case '1'}}<span class="">Por realizar</span>{{/case}}
        {{#case '2'}}<span class="">En proceso</span>{{/case}}
        {{#case '3'}}<span class="">Finalizado</span>{{/case}}
        {{#case '4'}}<span class="">Cancelado</span>{{/case}}
        {{#case '5'}}<span class="">En espera</span>{{/case}}
      {{/switch}}
    </li>
    {{/each}}
  </ul>

  <div id="ticket-detail" class="tickets__detail">
    <div class="wrapper">
      <section>
        <div>
          <h1 id="ticketId"></h1>
          <span id="ticketStatus"></span>
        </div>
        <div>
          <label>Solicitante:</label><span id="ticketUser"></span>
          <label>Categoria:</label><span id="ticketCategory"></span>
          <label>Prioridad:</label><span id="ticketPriority"></span>
          <label>Fecha:</label><span id="ticketDate"></span>
          <label>Sector:</label><span id="ticketSector"></span>
        </div>
      </section>
      <section>
        <h1 id="ticketTitle">Titulo Ticket</h1>
        <textarea name="description" class="form-control" id="ticketDescription" cols="30" rows="10"></textarea>
        <div>
          {{#if active.seguimiento}}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Eliminar</button>
            {{#ifEquals user.type 1}}
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#assignModal">Asignar</button>
            {{/ifEquals}}
          {{/if}}
          {{#if active.mistickets}}
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#cancelModal">Cancelar</button>
          {{/if}}
          {{#if active.asignados}}
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#divideModal">Dividir</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#resolveModal">Resolver</button>
          {{/if}}
        </div>
      </section>
    </div>
  </div>
  {{else}}
  <h1>No hay tickets</h1>
  {{/if}}
</div>

<!-- Modals -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Estas seguro que quieres eliminar el ticket?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary idButton" onclick="deleteTicket(this)">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancelar Ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Estas seguro que quieres cancelar el ticket?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary idButton" onclick="cancelTicket(this)">Cancelar Ticket</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Asignar Ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{#if specialists}}
        <select class="form-control" id="specialist" name="specialist">
          <option selected disabled hidden>Seleccione Especialista</option>
          {{#each specialists}}
            <option value="{{ this.username}}">{{ this.username }}</option>
          {{/each}}
        </select>
        {{/if}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary idButton" onclick="assignTicket(this)">Asignar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="resolveModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resolver Ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Estas seguro que quieres resolver el ticket?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary idButton" onclick="resolveTicket(this)">Resolver</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="divideModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dividir Ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="formDivide">
          <div class="row">
            <div class="col">
              <h4>Ticket 1</h4>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label for="title">Titulo</label>
                    <input type="text" class="form-control" id="title1" name="title1" placeholder="Titulo">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label for="description">Descripcion</label>
                    <textarea type="text" class="form-control" id="description1" name="description1" placeholder="Descripcion"></textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <h4>Ticket 2</h4>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label for="title">Titulo</label>
                    <input type="text" class="form-control" id="title2" name="title2" placeholder="Titulo">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label for="description">Descripcion</label>
                    <textarea type="text" class="form-control" id="description2" name="description2" placeholder="Descripcion"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label for="category">Categoria</label>
                    <select class="form-control" id="category2" name="category2">
                      <option selected disabled hidden>Seleccione Categoria</option>
                      <option value="0">Desarrollo</option>
                      <option value="1">Modificacion</option>
                      <option value="2">Correccion del error</option>
                      <option value="3">Problema con internet</option>
                      <option value="4">Problema con red interna</option>
                      <option value="5">Problema de servicio</option>
                      <option value="6">Ayuda para operar sistema</option>
                      <option value="7">Ayuda para operar hardware</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          {{#if errors }}
          <div class="form-group">
            {{#each errors }}
            <div class="alert alert-danger" role="alert">
              {{ this.msg }}
            </div>
            {{/each}}
          </div>
          {{/if}}
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary idButton" onclick="divideTicket(this)">Dividir</button>
      </div>
    </div>
  </div>
</div>